<div class="container">
  <header class="header clearfix">
    <nav>
      <ul class="nav nav-pills float-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Logout</a>
        </li>
      </ul>
    </nav>
    <h3>Mes Comptes</h3>
  </header>

  <table class="table table-sm table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th>Comptes</th>
        <th>Mouvements</th>
        <th>Edition</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compte of comptes; index as i">
        <td [textContent]="compte.name | uppercase" #composant></td>
        <td>
          <p *ngFor="let mouvement of compte.mouvements" [ngClass]="{'green':mouvement.price>=0, 'red':mouvement.price<0}">
            <span [textContent]="mouvement.title"></span> :
            <b>{{mouvement.price | numbor}} €</b>
            <i>le</i>
            <span [textContent]="mouvement.date | date: 'dd/MM/yyyy'"></span>
          </p>
        </td>
        <td>
          <button type="button" class="btn btn-secondary btn-sm" (click)="open(content, i, composant)">+ transaction</button>
          <div class="input-group input-group-sm">
            <span class="input-group-addon" id="sizing-addon2">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="sizing-addon2">
          </div>
        </td>
      </tr>
    </tbody>
  </table>




  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">{{modalTitle}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <form (ngSubmit)="form.valid && addMouvement(form.value)" #form="ngForm">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div *ngIf="responseMessage" class="alert alert-danger">{{responseMessage}}</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="title">Titre</label>
              <input type="text" class="form-control" id="title" name="title" [ngClass]="{ 'is-invalid': form.submitted && !title.valid }"
                [(ngModel)]="mouvements.title" #title="ngModel" required>
              <div *ngIf="form.submitted && !title.valid" class="invalid-feedback">Intitulé de l'action est obligatoire</div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="somme">Somme</label>
              <input type="text" class="form-control" id="somme" name="price" [ngClass]="{ 'is-invalid': form.submitted && !price.valid }"
                [(ngModel)]="mouvements.price" #price="ngModel" required>
              <div *ngIf="form.submitted && !price.valid" class="invalid-feedback">Montant de l'action est obligatoire</div>
            </div>
          </div>
          <div class="pull-right control group">
            <button type='submit' class='btn btn-primary' name="submit">Valider</button>
          </div>
        </div>
      </form>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>

  <pre>{{closeResult}}</pre>