<div class="container">
  <div class="page-header">
    <h2>Mon Compte</h2>
  </div>

  <table class="table table-condensed table-striped table-hover table-perso">
    <thead>
      <tr>
        <th>Comptes</th>
        <th>Mouvements</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let compte of comptes; index as i">
        <td [textContent]="compte.name | uppercase" #composant></td>
        <td>
          <p *ngFor="let mouvement of compte.mouvements" [ngClass]="{'green':mouvement.price>=0, 'red':mouvement.price<0}">
            <span [textContent]="mouvement.title"></span> :
            <span [textContent]="mouvement.price | numbor"></span> € à
            <span [textContent]="mouvement.date | date: 'dd/MM/yyyy'"></span>
          </p>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="panel panel-default" style="margin-left: 180px; margin-top:100px;width: 900px;">
    <div class="panel-heading">Action
    </div>
    <form (ngSubmit)="addMouvement(form.value)" #form="ngForm">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title">Titre</label>
              <input type="text" class="form-control" id="title" name="title" [(ngModel)]="mouvements.title">
            </div>
            <div class="form-group">
              <label for="somme">Somme</label>
              <input type="text" class="form-control" id="somme" name="price" [(ngModel)]="mouvements.price">
            </div>
          </div>
        </div>
        <div class="pull-right control group">
          <button type='submit' class='btn btn-primary' name="submit">Valider</button>
        </div>
      </div>
    </form>
  </div>

</div>