<div>
  <table class="table table-striped" style="width:100%">
  <thead>  
  <tr>
      <th>Intitulé</th>
      <th>Somme <small>(en €)</small></th>
      <th>Description</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>  
    <tr *ngFor="let item of compte; index as i">
      <td><span [textContent]="item.title | uppercase" #composant></span></td>
      <td [textContent]="item.somme" [ngClass]="{'green':item.somme>=0, 'red':item.somme<0}"></td>
      <td [textContent]="item.desc"></td>
      <td [textContent]="item.date | date:'dd/MM/yyyy'"></td>
    </tr>
  </tbody>
  </table>
</div>  

<div class="panel panel-default" style="margin-left: 180px; margin-top:100px;width: 900px;">
    <div class="panel-heading">Action
    </div>
    <form (ngSubmit)="enregistrer(form.value)" #form="ngForm">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" name="title" [(ngModel)]="comptes.mouvements.title">
                </div>
                <div class="form-group">
                    <label for="somme">Somme</label>
                    <input type="text" class="form-control" id="somme" name="somme" [(ngModel)]="compte.somme">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input type="text" class="form-control" id="desc" name="desc" [(ngModel)]="compte.desc">
                </div>
            </div>
        </div>
        <div class="pull-right control group">
            <button type='submit' class='btn btn-primary' name="submit">Valider</button>
        </div>
    </div>
    </form>
  </div>